body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.operator {
    background-color: #FFC107;
}

.operator:hover {
    background-color: #ffb300;
}
